<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1>Confirmation  <small>mail</small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> Confirmation mail </li>
      </ol>
    </div>
  </div>

  <p>
    Emails are sent!!
  </p>

</div>
