<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1>Management <small>Group Rights</small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>  Group Rights </li>
      </ol>
    </div>
  </div>

  <div class="containerLine">
    <% @groups.each  do |group| %>
        <ul class="containergroups">
              <p>
                <strong>Name:</strong>
                <%= group.name %>
              </p>

              <p>
                <strong>Rights:</strong>
                <% Right.all.each do |right| %>
                    <div>
                      <%= check_box_tag 'group[right_ids][]', right.id, group_right_present?(group.id, right.id)  %>
                      <%= right.name %><br>
                    </div>
                <% end %>
        </ul>
    <% end %>
  </div>

</div>